footer {
  height: 3%;
  width: 100%;
  background-color: green;
  color: white;
}

.textfoot {
margin-left: 0.5%;
margin-top: 0%;
width: 50%;
height: 15%;
}

.boiteicone {
  float: right;
  margin-right: 2%;
}
