.contenu {
  height:80%;
  width:99.8%
}

.banniere {
  height: 25%;
  width: 97%;
  border: black solid 1px;
  background-image:url(../img/arcvoiture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

footer {
  height: 3%;
  width: 100%;
  background-color: black;
  color: white;

}

.textfoot {
margin-left: 0.5%;
margin-top: 0%;
width: 50%;
height: 15%;
}

.boiteicone {
  float: right;
  margin-right: 2%;
}
