body{
  height:100%;
}

img{
  width: 10%;
}

#feuille{
  margin-left: 20%;
  margin-right: 20%;
}
#pierre:hover{
  border: 2px solid black;
}
#feuille:hover{
  border: 2px solid black;
}
#ciseaux:hover{
  border: 2px solid black;
}

.plateau {
  width: 100%;
  height:100%;
  margin: auto;
  z-index: 1;
  background-image: url("../img/test.jpg");
}
.codeReduc{
  margin:0;
  display:none;
}
.conteneurG{
  height: 40vw;
}

.images {
  margin-bottom: 5%;
}

.boite_Cont{
  color:white;
}
h1{
  text-align: center;
  margin-top: 0;
  margin-bottom: 5%;
}

.choix{
  margin-right: 5%;
}

.reset{
  display:none;
}
