html {
  width: 100%;
  height: 100%;
  overflow-x: none;
  background-color: rgba(235, 240, 233, 0.84);
}
body {
  width: 80%;
  height: 200%;
  margin: 0;
  margin-left: 10%;
  background-color: rgba(235, 240, 233, 0.84);
}

header img {
  width: 120%;
  height: 120%;
}
.imglogo {
  width: 20%;
}
.haut {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  background-color: red;
  height: 7vw;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}
.menu {
  list-style-type: none;
  height: 4vw;
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
.droit {
  list-style-type: none;
  height: 4vw;
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
.droit a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.menu a {
  text-decoration: none;
  color: white;
}
.int {
  border-right: 0.5px dotted grey;
}
.banniere {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.banniere img {
  width: 80vw;
}
